


<!-- 
<div class="row">
    <div class="col"><app-titlebar></app-titlebar></div>
  </div>
  <div class="row">
    <div class="col"><app-navbar></app-navbar></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><app-sidebar></app-sidebar></div>
    <div class="col"><app-content></app-content></div>
    </div>
    <div class="row">
    <div class="col"><app-cardthumbnails></app-cardthumbnails></div>
  </div>
  <div class="row">
    <div class="col"><app-footer></app-footer></div>
    </div>  -->

    <!-- {{10 + 20}}
<app-databinding></app-databinding> -->
<!-- <app-formdata></app-formdata>
<app-directives></app-directives> -->
 <!-- <app-user></app-user>  -->
<!-- <app-calculator></app-calculator> -->
<!-- <custom-directive></custom-directive> -->
<!-- <app-cities></app-cities> -->
<!-- <app-acc></app-acc> -->
<!-- <app-employees></app-employees>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <!-- <a class="navbar-brand" href="#">
      <img src="..\assets\d1.jpg" alt="logo" style="width:40px;">
    </a> -->
    
    <!-- Links -->
    <!-- <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let items of menu">
      
        <a class="nav-link" [routerLink]="[items]">{{items}}</a>
    </li>
    </ul>
  </nav>
  
  <div class="container-fluid">
    <h3>Welcome to my project</h3>
  </div> -->

<!-- <router-outlet></router-outlet>  -->

<!-- <app-form></app-form> -->
<app-form1></app-form1>